@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<SecureAssetManager.Models.Asset>

<h2>Lista de Activos</h2>
<table class="table">
    <thead>
        <tr>
            <th>Código de Activo</th>
            <th>Nombre</th>
            <th>Responsable</th>
            <th>Ubicación</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Categoría</th>
            <th>Clasificación</th>
            <th>Etiqueta Principal</th>
            <th>Tipo de Valoración</th>
            <th>Valoración</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var asset in Model)
        {
            <tr>
                <td>@asset.CodigoActivo</td>
                <td>@asset.Nombre</td>
                <td>@asset.Responsable</td>
                <td>@asset.Ubicacion</td>
                <td>@asset.Descripcion</td>
                <td>@asset.Tipo</td>
                <td>@asset.Categoria</td>
                <td>@asset.Clasificacion</td>
                <td>@asset.EtiquetaPrincipal</td>
                <td>@asset.TipoValoracion</td>
                <td>@asset.Valoracion</td>
                <td>
                    <a href="@Url.Action("Details", "Asset", new { id = asset.ID })">Detalles</a>
                    <a href="@Url.Action("Edit", "Asset", new { id = asset.ID })">Editar</a>
                    <a href="@Url.Action("Delete", "Asset", new { id = asset.ID })">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>